audios/**/*.wav
.DS_Store
.vscode/
audios/large-4-cat/*
!audios/large-4-cat/00253_2_32.mp3
!audios/large-4-cat/07804_28_4.mp3
!audios/large-4-cat/06978_11_27.mp3
!audios/large-4-cat/04287_9_23.mp3

audios/large-cat/*
!audios/large-cat/00253_2_32.mp3
!audios/large-cat/07804_28_4.mp3
!audios/large-cat/06978_11_27.mp3
!audios/large-cat/04287_9_23.mp3

audios/prompt_encodec/*
!audios/prompt_encodec/00253_2_32.mp3
!audios/prompt_encodec/07804_28_4.mp3
!audios/prompt_encodec/06978_11_27.mp3
!audios/prompt_encodec/04287_9_23.mp3

audios/prompt_gt/*
!audios/prompt_gt/00253_2_32.mp3
!audios/prompt_gt/07804_28_4.mp3
!audios/prompt_gt/06978_11_27.mp3
!audios/prompt_gt/04287_9_23.mp3